@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400;600;800&display=swap');

@font-face {
  font-family: 'BMJUA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  padding: 40px 12px;
  font-family: 'BMJUA';
}

.container {
  width: 320px;
  height: 540px;
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .06);
  padding: 0px 15px;
}

h1 {
  font-family: 'yg-jalnan';
  font-size: 24px;
  font-weight: 800;
  color: #ff2e8b;
  margin-bottom: 8px;
}

.teacher-bio {
  font-size: 14px;
  color: #555;
  margin-bottom: 24px;
}

.button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px 16px;
  background: #ff2e8b;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  font-family: 'BMJUA';
  text-decoration: none;
}

.button:hover {
  background: #e02677;
}


ul#letter-list {
  list-style: none;
  padding: 0;
  max-height: 300px;        /* 스크롤 높이 제한 */
  overflow-y: auto;         /* 세로 스크롤 활성화 */
  scroll-behavior: smooth;
}

ul#letter-list::-webkit-scrollbar {
  width: 6px;
}

ul#letter-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}


ul#letter-list li {
  padding: 16px;
  border-radius: 16px;
  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

#Header {
  background: #fff;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 30px 10px;
}

.header-actions .home-button a,
.header-actions .logout a {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #888;
  text-decoration: none;
  line-height: 1;
}

.header-actions .home-button i,
.header-actions .logout i {
  font-size: 14px;
  vertical-align: middle;
  color: #888;
  text-decoration: none;

}

.header-actions .home-button a:hover,
.header-actions .logout a:hover {
  color: #ff2e8b;
}

.header-actions .home-button a:hover i,
.header-actions .logout a:hover i {
  color: #ff2e8b;
}
