<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>우당탕탕 카네이션 대작전</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <div class="phone">
    <div class="text-section">
      <p class="sup">우당탕탕</p>
      <h1 class="title"><span class="highlight">카네이션</span>대작전!</h1>
      <p class="sup_2">스승의 날 감사 편지 이벤트</p>
    </div>
    <div class="button-section">
      <!-- 감사 편지 쓰기 -->
      <a href="#" class="card" id="writeBtn">
        <img src="/static/assets/write_letter_button.png" alt="감사 편지 쓰기">
      </a>
      <!-- 편지 확인하기 -->
      <a href="#" class="card" id="readBtn">
        <img src="/static/assets/read_letter_button.png" alt="편지 확인하기">
      </a>
    </div>
    <p style="text-align: center; font-size: 12px; color: #777; margin-top: 40px;">
      <strong>천안오성고등학교 DB설계캠프 수강생 일동</strong>
      </p><br>
      <p style="text-align: center; font-size: 10px; color: #777;">
      윤주호 이신행 염수빈 박지윤 이가연 이찬호 정채건<br>허건회 허대이 박채민 교사 신송희
    </p>
  </div>

  <script>
    const role = "{{ role }}";
    const teacherId = {{ teacher_id or 'null' }};
    document.getElementById('writeBtn').addEventListener('click', e => {
      if (role === 'student') {
        window.location.href = '/teachers';
      } else {
        e.preventDefault();
        alert('이 페이지는 학생만 접근할 수 있습니다.');
      }
    });
    document.getElementById('readBtn').addEventListener('click', e => {
      if (role === 'teacher') {
        window.location.href = '/letters/${teacherId}';
      } else {
        e.preventDefault();
        alert('이 페이지는 학생만 접근할 수 있습니다.');
      }
    });
  </script>
</body>
</html>
